:root {
  font-family: "Inter Variable", sans-serif;
  font-feature-settings: "cv02", "cv03", "cv04", "cv11";
  font-variation-settings: normal;
}

.p-slider .p-slider-range {
  background: #dee2e6;
}
